/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
/* div#right {
  border: 1px solid rebeccapurple;
  background-color: blue;
  margin-right: 500px;
}

div#left {
  border: 1px solid rebeccapurple;
    background-color: blue;
    margin-right: 500px;
} */

.hand {
  display: inline-flex;
}

div#left, div#right {
  border: 5px solid;
}

div#right {
  text-align: right;
  /* border: 5px solid red; */
  border-color: red;
  /* width: 150px; */
  padding-right: 20px;
  margin-left: 200%;
  padding-left: 20px;
  border-radius: 60%;
}

div#left {
  text-align: left;
  /* border: 5px solid blue; */
  border-color: blue;
  /* width: 150px; */
  padding-left: 20px;
  margin-left: 100%;
  padding-right: 20px;
  border-radius: 61%;
}

div#right.right-active {
  background-color: #6495ED;
}

div#left.left-active {
  background-color: #DC143C;
}
label {
  font-size: 2rem;
}

p {
  font-size: 2.75rem;
}
input{
  height: 27px;
}
input, textarea {
  font-size: 20px;
}
